<h1> Listing Users </h1>

<table>
  <tr>
    <th> Username </th>
    <th> &nbsp; </th>
  </tr>

  <% for user in @users %>
  <tr>
    <td> <%= user.login %> </td>
    <td>
      <%= link_to "Edit", user %> |
      <%= link_to "Delete", user, :confirm => "Are you sure?", :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "Add New User", new_user_path %>

